<div class="container">
  <form class="d-flex flex-column w-50 border p-2 gap-2" (ngSubmit)="login()" form="ngForm">
    <h1>Login</h1>
    <label for="username">
      <p>Username</p>
      <input class="form-control" type="text" name="username" id="username" #username="ngModel"
        [(ngModel)]="user.username" required>


    </label>
    <label for="password">
      <p>Password</p>
      <input class="form-control" type="password" name="password" id="password" #password="ngModel"
        [(ngModel)]="user.password" required>
    </label>
    <label>
      <button class="btn btn-primary d-block">Login</button>
    </label>
  </form>
</div>